@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --line-color:#3498db;
    --line-empty-color:#e0e0e0;
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:#f6f7fb;
    height: 100vh;
    font-family: 'Noto Sans JP';
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
}
.container{
    text-align: center;
}
.progress-container{
     display: flex;
    justify-content: space-between; 
    /* align-items: center; */
    position:relative;
    margin-bottom: 30px;
    max-width: 100%;  
    width:350px;
     
}
.progress-container::before{
    content:'';
    background-color: var(--line-empty-color);
    position: absolute;
    top:50%;
    left:0;
    height:4px;
    transform: translateY(-50%);
    width:100%;
    z-index: -1;
}

.progress{
    background-color: var(--line-color);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%);
    width: 0%;
    z-index:-1;
    transition: .4s ease;
}
.circle{
    background-color: white;
    color:#999;
    border-radius: 50%;
    height:30px;
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-empty-color);
    transition: .4s ease;
}
.circle.active{
    border-color:var(--line-color);
}
.btn{
    background-color: var(--line-color);
    color:#fff;
    padding:8px 30px;
    border:0;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    margin:5px;
    font-size: 14px;
}
.btn.active{
    transform:scale(0.98);

}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-empty-color);
    cursor:not-allowed;
}